<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>There are <%= @users.size %> users with a total of <%= count_interests %> interests.</p>
  </footer>
</html>
